.container{
    margin: auto;
    width: 60%;
    max-width: 410px;
    background-color: #ffffff;
    border: 2px solid #ff8c00;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
hr{
     border: none;
      height: 2px; 
     background-color: orange;
}

.gender{
    border: 0px;

}
input{
    border-radius: 5px ;
    border: 1px solid rgb(193, 125, 0);
    font-size: 14px;
    height: 30px;
}
fieldset input{
    height: auto;
}
.submit-btn{
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 10px;
    transition: opacity 0.2s;
    width: 90%
}
div div{
    display: inline-block;
    margin-left: 10px;
}