*{
  font-family: Arial, sans-serif;

}
.container {
    margin: auto;
    width: 60%;
    max-width: 500px;
    background-color: #e6dcd0;
    border: 2px solid #d0c2b1;
    padding: 20px;
    border-radius: 15px;
}

.social-btn {
    text-align: center;
    margin-bottom: 20px;
}

.social-btn .btn {
    display: inline-block;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: opacity 0.2s;
}

.social-btn .btn:hover {
    opacity: 0.9;
}

.social-btn .btn i {
    margin-right: 8px;
    font-size: 20px;
}

.facebook-btn {
    background-color: #1877F2;
}

.x-btn {
    background-color: #000000;
}

.circle {
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-align: center;
    background: gray;
    margin-bottom: 20px;
}

.inputs {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.inputs li {
    margin-bottom: 15px;
}

.input {
    display: inline-block;
    width: 380px;
    height: 45px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.options {
    text-align: center;
    margin-bottom: 20px;
}

.options label {
    display: inline-block;
    margin-right: 20px;
}

.options a {
    color: #1877F2;
}

.actions {
    text-align: center;
}

.actions .Login {
    background-color: #1877F2;
    margin: auto;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.actions p {
    margin-top: 10px;
}

.actions a {
    color: #1877F2;
    text-decoration: none;
}
